<h1>Edit book</h2>

<%= form_tag "/books/#{@id}", method: :patch do %>
	<div>
	Book title: <input type="text" name="title" value="<%= @book['title']%>">
	</div>
	<div>
	Author: <input type="text" name="author" value="<%= @book['author']%>">
	</div>
	<div>
	Publisher: <input type="text" name="publisher" value="<%= @book['publisher']%>">
	</div>
	<div>
	Genre: <input type="text" name="genre" value="<%= @book['genre']%>">
	</div>
	<div>
	<input type="submit" value="Save book">
	</div>
<%end%>


