<h1>Edit Contact</h1>

<%= form_tag "/contacts/#{@contact.id}", method: :patch do %>
	<div>
	Contact name <input type="text" name="first_name" value="<%= @contact.first_name %>">
	</div>
	<div>
	Contact name <input type="text" name="middle_name" value="<%= @contact.middle_name %>">
	</div>
	<div>
	Contact last name: <input type="text" name="last_name" value="<%= @contact.last_name %>">
	</div>
	<div>
	Contact email: <input type="text" name="email" value="<%= @contact.email %>">
	</div>
	<div>
	Contact address: <input type="text" name="address" value="<%= @contact.address %>">
	</div>
	<div>
	Contact phone: <input type="text" name="phone" value="<%= @contact.phone %>">
	</div>
	<div>
	<input type="Submit" value="Save Contact">
	</div>
<%end%>

