<% if current_user %>
	<h1>WELCOME <%= current_user.name.upcase %></h1>
			<h2>My Contacts</h2>

				<p>
			</p>
				<div>
				<% @contacts.each_slice(4) do |four| %>
				<div class="row">
					<% four.each do |contact| %>
						<div class="col-md-3">
							<div class="well">
								<div class="contact">
									<a href="/contacts/<%= contact.id %>"><%= contact.full_name%></a>
									<%= contact.email %><br>
									<%= contact.phone %><br>
									<%= contact.address %><br>
						
									<%= link_to "Edit", "/contacts/#{contact.id}/edit" %>
									<%= link_to "Delete Contact", "/contacts/#{contact.id}", method: :delete %>
								</div>
							</div>
						</div>
			<% end %>
			</div>
			<% end %>
			</div>
	<% else %>
		<div class="login">
		<h1><%= "Log in or Sign up if you'd like to see contacts" %></h1>
		<%= button_to "Log In", "/login", :method => :get %><br>
		<%= button_to "Sign Up", "/signup", :method => :get %>
			</div>
<% end %>