<h1>Contact</h1>
<div class="show_contact">
<div>
Name: <%= @contact.full_name %>
<br>
Email: <%= @contact.email %><br>
Phone Number: <%= @contact.phone %><br>
<%= @contact.address %><br>
Japanese number: <%= @contact.add_prefix %>
</div><br>
<div>
Updated on: <%= @contact.changed_time %>
</div><br>

<%= link_to "Edit", "/contacts/#{@contact.id}/edit" %>
<%= link_to "Delete Contact", "/contacts/#{@contact.id}", method: :delete %>

</div>